<ion-view view-title="Store">
  <ion-content>

    <div class="card text-center">
      <div class="item item-text-wrap item-stable">
        <h2>Welcome to our catalog! <br> Here you will find all the products that we offer at the moment. <br> There is a lot more to come. <br> Stay tuned!</h2>
      </div>
    </div>

    <div class="list list-inset">
      <h4 class="item item-divider item-positive">
        <i class="icon ion-android-search">
          Find a product
        </i>
      </h4>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>

    <ul class="list item-text-wrap">
      <li class="item">
        <div class="item item-divider item-positive">
          <i class="icon ion-iphone">
          Smartphones
          </i>
        </div>
        <a href="https://www.verkkokauppa.com/fi/product/28701/fkxmk/Samsung-Galaxy-S6-32-Gt-Android-puhelin-musta" target="_blank" class="item item-thumbnail-left">
          <img src="img/s1.jpg" alt="Product">
          <h2 class="padding">Samsung Galaxy S6 32 Gt Android puhelin, musta</h2>
          <p>Galaxy S6 on lasin ja metallin fuusio. Se henkii innovatiivista suunnittelua ja keksimisen iloa. Puhelimen ohut, sileä metallikehys on liitetty maailman toistaiseksi kirkkaimpaan Super AMOLED -näyttöön ja tuntuu ylelliseltä kädessä. Kestävä lasipinta antaa hologrammin kaltaista syvyyttä myös takapuolelle.</p>
        </a>
      </li>

     <li class="item">
        <a href="https://www.verkkokauppa.com/fi/product/48396/hfcsm/Honor-8-Android-puhelin-64-Gt-Limited-Edition-Dual-SIM-sinin" target="_blank" class="item item-thumbnail-left">
          <img src="img/s2.jpg" alt="Product">
          <h2 class="padding">Honor 8 ‐Android-puhelin 64 Gt Limited Edition Dual-SIM, sininen</h2>
          <p>	Supersuositun Honor 7 -puhelimen seuraaja on yksi tyylikkäimmistä puhelimista markkinoilla. Sen etu- ja takapintaa peittää näyttävä lasi jonka alla oleva väripinta elää valaistuksesta riippuen. Lasiset pinnat yhdistettynä alumiinisiin reunoihin tekee puhelimesta paitsi tyylikkään, myös erittäin miellyttävän pidellä kädessä.</p>
        </a>
      </li>

     <li class="item">
        <a href="https://www.verkkokauppa.com/fi/product/16948/hgnvf/Apple-iPhone-6s-32-Gt-puhelin-tahtiharmaa" target="_blank" class="item item-thumbnail-left">
          <img src="img/s3.jpg" alt="Product">
          <h2 class="padding">Apple iPhone 6s 32 Gt ‐puhelin, tähtiharmaa</h2>
          <p>	4,7 tuuman Retina HD -näyttö 3D Touch -ominaisuudella. 7000-sarjan alumiinikotelo ja vahvempi peitelasi. A9-siru 64-bittisellä pöytäkonetason arkkitehtuurilla. Täysin uusi 12 Mpix iSight-kamera Live Photos -ominaisuudella. Touch ID. Nopeampi 4G LTE ja Wi-Fi. Pitkä akunkesto. Sekä iOS 9 ja iCloud. Kaikki tämä sileässä ja yhtenäisessä unibody-kotelossa.</p>
        </a>
      </li>

      <li class="item">
        <div class="item item-divider item-positive">
          <i class="icon ion-ipad">
          Tablets
          </i>
        </div>
        <a href="https://www.verkkokauppa.com/fi/product/64738/hgrqh/Apple-iPad-Air-2-32-Gt-Wi-Fi-tabletti-tahtiharmaa-MNV22" target="_blank" class="item item-thumbnail-left">
          <img src="img/t1.jpg" alt="Product">
          <h2 class="padding">Apple iPad Air 2 32 Gt Wi-Fi ‐tabletti, tähtiharmaa</h2>
          <p>	Vain 6,1-millimetrisenä Apple iPad Air 2 on kaikkien aikojen ohuin iPad. Ja myös kaikkein kyvykkäin. Siinä on uudistettu 9,7 tuuman Retina-näyttö, mullistava Touch ID -sormenjälkitunnistin, tehokas 64-bittinen A8X-siru, uusi iSight-kamera, parannettu FaceTime HD -kamera, entistä nopeammat langattomat yhteydet, iOS 10, iCloud ja jopa 10 tuntia akun käyttöaikaa.</p>
        </a>
      </li>

     <li class="item">
        <a href="https://www.verkkokauppa.com/fi/product/10820/hdmnd/Samsung-Galaxy-Tab-A-2016-10-1-Wi-Fi-Android-6-0-tablet-must" target="_blank" class="item item-thumbnail-left">
          <img src="img/t2.jpeg" alt="Product">
          <h2 class="padding">Samsung Galaxy Tab A 2016 10,1" Wi-Fi Android 6.0</h2>
          <p>	Samsung Galaxy Tab A 2016. Suositun Galaxy Tab A:n päivitetyssä mallissa on Android 6.0 Marshmallow -käyttöjärjestelmä, huipputarkka WUXGA-näyttö, nopea suoritin ja erinomainen kamera, jossa on monia hauskoja ja käteviä toimintoja. Laite on ohuesti muotoiltu, joten se pysyy mainiosti kädessä.</p>
        </a>
      </li>

     <li class="item">
        <a href="https://www.verkkokauppa.com/fi/product/6336/gvtvr/Lenovo-TAB-2-A10-30-10-1-tablet-Android-5-1-sininen" target="_blank" class="item item-thumbnail-left">
          <img src="img/t3.jpg" alt="Product">
          <h2 class="padding">Lenovo TAB 2 A10-30 10,1" ‐tablet, Android 5.1</h2>
          <p>	Lenovo TAB 2 on 10,1-tuumainen Android 5.1 (Lollipop) -tabletti suorituskykyisellä 1,3 GHz Qualcomm Snapdragon 212 -neliydinsuorittimella. Kaksoiskaiuttimet tarjoavat kirkkaan äänikokemuksen. TAB 2 A10-30 sopii hyvin musiikin kuunteluun ja videoiden katseluun.</p>
        </a>
      </li>

      <li class="item">
        <div class="item item-divider item-positive">
          <i class="icon ion-android-laptop">
          Laptops
          </i>
        </div>
        <a href="https://www.verkkokauppa.com/fi/product/48978/gxqkm/HP-250-G5-15-6-kannettava-Win-10-musta" target="_blank" class="item item-thumbnail-left">
          <img src="img/c1.png" alt="Product">
          <h2 class="padding">HP 250 G5 15,6" ‐kannettava, Win 10, musta</h2>
          <p>	HP 250 on hinta-laatusuhteeltaan erinomainen helppokäyttöinen kannettava tietokone kodin perustarpeisiin. Se on suunniteltu tavalliseen kotikäyttöön tai opiskelijalle videoiden toistamiseen, netissä surffaamiseen, dokumenttien kirjoittamiseen sekä sähköpostin lukemiseen.</p>
        </a>
      </li>

     <li class="item">
        <a href="https://www.verkkokauppa.com/fi/product/49706/hdsnt/Lenovo-Ideapad-100s-14-kannettava-Win-10-hopea" target="_blank" class="item item-thumbnail-left">
          <img src="img/c2.png" alt="Product">
          <h2 class="padding">Lenovo Ideapad 100s 14" ‐kannettava, Win 10, hopea</h2>
          <p>	Lenovo 100s on edullinen kannettava kotikäyttäjille. Kannettava kätkee sisäänsä 4 Gt -keskusmuistia sekä Braswell -arkkitehtuuriin perustuva Intel Celeron -tuplaydinsuoritin. Lenovo 100s on perinteisesti muotoiltu kannettava hopealla kuorella sekä tummalla sisäpinnalla. Sen 14" kirkas LED-taustavalaistu näyttö kykenee HD -tason (1366 x 768) resoluutioon ja sitä on miellyttävä katsella.</p>
        </a>
      </li>

     <li class="item">
        <a href="https://www.verkkokauppa.com/fi/product/46223/gxgnn/Acer-Chromebook-14-hopea" target="_blank" class="item item-thumbnail-left">
          <img src="img/c3.png" alt="Product">
          <h2 class="padding">Acer Chromebook 14, hopea</h2>
          <p>	Acer Chromebook 14. Upea kannettava, jonka täysalumiininen runko tekee vaikutuksen. Chromebook 14:n akku kestää jopa 12 tuntia, joten voit huoletta unohtaa laturin kotiin. 14-tuumainen 1920 x 1080 -resoluution Full HD -näyttö on varustettu Anti-Glare pinnoitteella, jonka ansiosta sen kirkkaasta kuvasta on helppo nauttia jopa ulkoilmassa auringonpaisteessa.</p>
        </a>
      </li>

    </ul>

  </ion-content>
</ion-view>
