<ion-view view-title="My Account">
  <ion-content>
    <ion-list>

    <div class="item item-divider">Account Settings</div>

    <ion-toggle  ng-model="settings.enableFriends" class="item item-icon-left">
      <i class="icon ion-android-notifications"></i>
        Notifications
    </ion-toggle>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-android-star"></i>
      My Favorites
    </a>

    </ion-list>

    <div class="list">
      <div class="item item-divider">Follow Us</div>
      <a href="http://www.facebook.com/" target="_blank" class="item item-icon-left">
        <i class="icon ion-social-facebook"></i>
        Facebook
      </a>
      <a href="https://www.twitter.com/" target="_blank" class="item item-icon-left">
        <i class="icon ion-social-twitter"></i>
        Twitter
      </a>
      <a href="https://www.youtube.com/" target="_blank" class="item item-icon-left">
        <i class="icon ion-social-youtube"></i>
        YouTube
      </a>
  </ion-content>
</ion-view>
