<ion-view view-title="Home">

  <ion-content class="padding color">
    <h2 class="main">Welcome to Verkkokauppa!</h2>

    <p class="mainSecond">
    Verkkokauppa.com Oyj is Finland’s largest, most known and most visited online retailer that offers over 48 000 different items from 22 main categories. <br> The company sells its products through its three megastores and over 2500 pickup locations in Finland, and also home delivered and installed. <br> The company was established in 1992 and it has over 400 employees in three locations.</a>.
    <br>
    <br>
    Verkkokauppa.com's main store and warehouse is located in Jätkäsaari, Helsinki and is the largest electronics store in Europe with total 35 000 m². <br> Part of the store is always open. The store also features Finland's largest and free sightseeing terrace with a MiG-21BIS fighter plane.
    <br>
    <br>
    The company has over 48 000 articles in its selection from over 1000 manufacturers and 22 main product groups. <br> It sells computers, mobile phones, digital cameras, navigators, white and brown goods, tools, toys, accessories, components, and computers. <br> The company also has over 250 private label brands and over 1000 private label products.
    </p>

    <br>

    <p class="mainThird">
    <a href="#/tab/chats" class="button button-stable button-outline">
     Visit Our Catalog
    </a>
    </p>

  </ion-content>
</ion-view>
